*{
    padding: 0;
    margin: 0;
}

.logo-js {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;   
    margin-left: 2rem;
    margin-right: 2rem;
}

.margin-right-2rem {
    margin-right: 2rem;
}

.js {
    margin:0 3rem 0 3rem;
}

.background-oldLace {
    background-color: #FDF5E6;
}

.background-black {
    background-color: #212529;
}

.font-color-white {
    color:white
}

.tamanh-tecnologias {
    height: 700rem;
    width: 50rem;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.foto {
    height: 40vh;
    width: 40vh;
    border-radius: 10px;
}

.margin-bottom-2rem {
    margin-bottom: 2rem;
}

.margin-top-2rem {
    margin-top: 2rem;
}

.paddin-zero{
    padding: 0;
}

.icons-contatos {
    height:4rem;
    width:4rem ;
    margin: 3rem;
}

.email-icon{
    height: 4.2rem;
    width: 4rem;
    margin: 3rem;
}

.margin-zero{
    margin: 0;
}

.certificados{
    width: 20rem;
    height: 10rem;
}

.text-center {
    text-align: center;
}


.imgs-tecnologias {
    height: 20rem;
    width: 18rem;
}

.ProStyle {
    width: 95%;
    height: 225;
    margin: 0.5rem;
    border-radius: 10px;
}

.justify-content-stretch{
    justify-content: stretch;
} 

@media (max-width: 600px)
{
  .imgs-tecnologias-media
   {
    height: 10rem;
    width: 9rem;
   }
}
